.left, .right
  display block
  margin-left auto
  margin-right auto
  margin-top 15px

@media screen and (min-width: 600px)
  .left
    float left
    padding-right 10px
  .right
    float right
    padding-left 10px
  .entry img.left, .entry img.right
    margin-top 0

.center
  display block
  margin-left auto
  margin-right auto
