<div>
  Created by <a href="https://plus.google.com/u/0/104662939461086576951?rel=author">Rasmus Kromann-Larsen</a>
  <% for (var i in theme.menu){ %>
  | <a href="<%- theme.menu[i] %>"><%= i %></a>
  <% } %>
</div>
<div class="clearfix"></div>
